.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.rigth{
   float : right;
}

th {
    text-align: center;
    border: 2px solid black;
    background: azure;
}
tr td {
    text-align: center;
    border: 2px solid black;
}

h1 {
    color: blue;
}

h6  {
    text-align: left;
}